body{
	background-color: #18181B;
	font-size: 130%;
}
.article{
    display: block;
	/*background-color: #2A2A2E; */
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-decoration: none;
  	font-size: 20px;
  	border-radius:9px;
  	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
    margin-right: auto;
  	width: 55%;
}
.article img{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
}
/*НОВОЕ МЕНЮ МОБИЛЬНОЕ*/
.menu-triger {
	display: none;
	width: 45px;
	height: 37px;	
	background: url(https://snipp.ru/demo/449/menu.png) 0 0 repeat;
	background-size: 100%;
	position: absolute;
	right: 15px;
	top: 28px;
}	
.menu-close {
	display: block;
	width: 58px;
	height: 58px;	
	background: url(https://snipp.ru/demo/449/close.png) 0 0 repeat;
	background-size: 100%;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 100;
}
.menu-popup {
	display: none;	
	background: #2c2e3e;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	box-sizing: border-box;
	padding: 30px;
	z-index: 9999;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.menu-popup ul {
	margin: 0;
	padding: 0;
}
.menu-popup li {
	list-style: none;
	margin: 13px 0;
	padding: 0;
	text-align: center;
}
.menu-popup li a {
	font-size: 58px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	line-height: 3;	
	text-decoration: none;
	transition: all 0.5s ease;
}
.menu-popup li a:hover {
	
	color: blue;

}
.body_pointer * {
	cursor: pointer;
}
.donatepay{
	width: 90%;
	height: 900px;

	border:none;
}
.choice{
	background-color: white;
	border-radius: 7px;
	padding-top: 35px;
	padding-bottom: 35px;
	/*padding:35px;*/
	padding-left:20px;
	padding-right:20px; 
	color: black;
	margin-top: 20px;
	margin-left: 13px;

	width: 29%;
	/*width: 55%;*/
	
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	display: inline-block;
}


/*МЕНЮ*/

 @media (max-width: 1024px) 
{ 


}
.wiki{
	background-color: white;
	border-radius: 7px;
	padding-top: 35px;
	padding-bottom: 35px;
	/*padding:35px;*/
	padding-left:20px;
	padding-right:20px; 
	color: black;
	margin-top: 20px;
	margin-left: 13px;

	width: 29%;
	/*width: 55%;*/
	
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	display: inline-block;
}
.question{
	background-color: white;
	border-radius: 7px;

	padding-bottom: 35px;
	/*padding:35px;*/
	padding-left:20px;
	padding-right:20px; 
	color: black;
	margin-top: 20px;
	margin-left: 13px;

	width: 35%;
	height: 30%;
	/*width: 55%;*/
	
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	display: inline-block;
	font-size: 130%;
}
.textik{
	width: 60%;
}
.gif{
	display: inline-block;
	float: right;
	/*position: absolute; 
    bottom: -320px;   
    right: 60px;
	
	margin:0;
	padding: 15px;*/
}

.head{
	position: fixed;
	width: 100%;
	text-align: right;
	padding-bottom: 15px;
	
}
@media (max-width: 980px) 
{ 
.question{
	width: 90%;
}
.donatepay{
	width: 80%;
}
.article{
	width: 80%;
}
.article img{
 width: 100%;
}
.wiki{
	width: 70%;
}
.textik{
	display: block;
	width: 90%;
	margin-top: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	white-space: normal;
}	
.gif{
	display: block;
	text-align: center;
	width: 100%;

}
.ovca{

}	
.head{
	position: fixed;
	width: 100%;
	text-align: right;
	padding-bottom: 80px;
	
}
.realmenu
{
    display: none;
}

.menu-triger
{
    display: block;
}


/*Закончили с меню*/
.text-bg{
	background-color: black;
}
}
.text-block {
    display: block;
	background-color: #3f3f44; 
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: left;
  	text-decoration: none;

  	border-radius:9px;
  	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
}
div.fix_block {
  right: 0;
  bottom: 0;
  position: fixed;
  display: none;
}
.freedays-link{
color: white;
font-family: 'Open Sans', sans-serif;
display: none;
text-decoration: underline;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 65px;
	font-weight: bold;
}
.questtext{
	
}

.div-third-atall{
	background-color: #111111;
	text-align: center;

}
.ivent-link{
	color: white;
	font-family: 'Open Sans', sans-serif;
	display: block;
	text-decoration: underline;
	display: none;
}
.mainp{
	color: white;
}
.map{
	display: block;
	align-content: left;
}
.buy{
	color: white;
	background-color: #0D9488;
	padding: 8px;

	border-radius: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	display: inline-flex;
	font-family: 'Roboto', sans-serif;
}
.buy:hover{
	background-color: #0b857a;
	color: white;
}
.copy{
	color: black;
	background-color: #F4F4F5;
	padding: 8px;

	border-radius: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	display: inline-flex;
	font-family: 'Roboto', sans-serif;
	border:none;
}
.copy:hover{
	background-color: #d6d6d6;
	color: black;
	border:none;
	cursor: pointer;
}

a{
	text-decoration: none;
	color: grey;
}
a:hover{
	color: blue;
}
footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:  13px;
}
.div-first-atall{
	background-color: #111111;
	padding: 65px;
	font-size: 60%;
}
.div-second-atall{
background-color: #0a0a0a;
display: block;
	margin-right: auto;
	margin-left:auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 190%;

}

.div-fourth-atall{
background-color:#0a0a0a;
}

p{

margin-right: 40px;
font-size: 190%;
font-family: 'Open Sans', sans-serif;

}


.online{
	text-align: top;
	margin-top: 1px;
	display: block;
}


.logo{
	margin-left: 5px;
	display: block;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

header{
	background-image: url('2.jpg') ;
	background-repeat: no-repeat;
	background-position: center;
	background-position: top;
	background-size: cover;
	
	
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
header{
	width: 100%;
}
.header-hallo{
	background-image: url('race.png') ;
	background-repeat: no-repeat;
	background-position: center;
	background-position: top;
	background-size: cover;
	
	
	color: #fff;
	padding-top: 27px;
	padding-bottom: 32px;
}
.header-hallo{
	width: 100%;
}
body {
	padding: 0;
	margin: 0;
	color: white;

	
}

.offer {
	
	margin-top: 46px;
	text-align: center;
}

.offer p {
	font-size: 30px;
	letter-spacing: 0.1em;
}

.offer h1 {
	font-size: 100px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em
}
.toptitle{
	margin: 0;
	color: #ff6c22;
}

.btn {

	font-size: 120%;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 7px 15px;
	border: 1px solid #fff;
	
	transition: all 0.5s ease;
	margin-right: 15px;
	margin-top: 20px;
	display: inline-block;

	color: white;
	
}

.btn:hover {
	background: #fff;
    color: #000;
}
.btn-selected {
	background: #fff;
    color: #000;
    font-size: 120%;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 7px 15px;
	border: 1px solid #fff;
	
	transition: all 0.5s ease;
	margin-right: 15px;
	margin-top: 20px;
	display: inline-block;

}
.price{
	font-size: 100px;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.btn-two {

	font-size: 120%;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 7px 15px;
	border: 1px solid white;
	
	transition: all 0.5s ease;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;

	color: white;
	
}

.btn-two:hover {
	background: white;
    color: black;
}
footer{

	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
footer a{
}
footer text{
	color: grey;
}
#server-online-players{
	color: white;
}

hr {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}
.media{
	text-align: center;
	text-decoration: none;
	color: white;
	display: none;
}
.superlink{
	

	padding-right: 90px;
	padding-left: 90px;


	border: 0.2rem solid black;
	border-radius: 10px;
	color: white;
	margin: 40px;
	text-align: center;
	

	display: inline-block;

}
.superlink img{
	width: 90px;
	height: 70px;
	display: inline-block;

}
#ds{
	width:80px;
}
#ds:hover{
	background-color: #4752C4;
	color: white;
}
#yt{

}
#yt:hover{
	background-color: #E24143;
	color: white;
}

.wiki-list{
	text-align: center;
}

.wiki:hover{
	background-color: #ededed;
}
.sponsor{
	border: 1px solid ;
	width: 30%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 60px;
	border-radius: 8px;
}
.redmark{
	color: red;
	font-weight: bold;
}
